%header.bg-indigo-400
  .container.mx-auto.px-6.py-3
    .flow-root
      .float-left
        %i.fa-solid.fa-house.fa-lg{style: "color: #4a099a;"}
        = t('.company_name')
      .float-right
        - if current_user
          = link_to t('.log_out'), destroy_user_session_path, data: { turbo_method: :delete }
          %i.fa-solid.fa-right-from-bracket.fa-lg{style: "color: #4a099a;"}
        - else
          = link_to t('.log_in'), new_session_path(User)
          %i.fa-solid.fa-right-to-bracket.fa-lg{style: "color: #4a099a;"}
    %nav.sm:flex.sm:justify-center.sm:items-center.mt-4{":class" => "isOpen ? '' : 'hidden'"}
      .flex.flex-col.sm:flex-row
        = link_to t('.home'), root_path, class: 'mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0'
        = link_to t('.rent'), root_path, class: 'mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0'
        = link_to t('.services'), root_path, class: 'mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0'
        = link_to t('.blog'), root_path, class: 'mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0'
        = link_to t('.about'), root_path, class: 'mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0'
        = link_to t('.contact'), root_path, class: 'mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0'

