.col-xs-6.col-sm-3
  .general-thumb-wrap
    = image_tag real_estate_object.main_photo
  .general-thumb-info
    %p
      = link_to real_estate_object.title, real_estate_object_path(real_estate_object)
    %p
      = real_estate_object.description
    %p € #{real_estate_object.price}
    %p #{real_estate_object.area} м²
    %p Rooms: #{real_estate_object.rooms}
    %p Floor: #{real_estate_object.floor}
    %p
      = real_estate_object.category.title
