= form_for @real_estate_object, :html => { :multipart => true } do |f|
  = f.label :category
  = f.collection_select :category_id, Category.all, :id, :title

  = f.label :title
  = f.text_field :title

  = f.label :description
  = f.text_field :description

  = f.label :area
  = f.number_field :area

  = f.label :rooms
  = f.number_field :rooms

  = f.label :floor
  = f.number_field :floor

  = f.label :price
  = f.number_field :price

  = f.fields_for :images do |i|
    = i.label :images
    = i.file_field :image, multiple: true, include_hidden: false, name: "photo_attachments[photo][]"

  = f.submit
